.dart_tool/
.idea/
.vscode/
.packages
pubspec.lock
build/
.dart_tool/
.packages
build/
.idea/
.vscode/
.DS_Store
pubspec.lock
coverage/
example/flutter_app/.dart_tool/
example/flutter_app/.packages
example/flutter_app/build/
example/flutter_app/.flutter-plugins
example/flutter_app/.flutter-plugins-dependencies
example/flutter_app/.metadata
example/flutter_app/ios/Pods/
example/flutter_app/macos/Pods/
example/flutter_app/windows/runner/Debug/
